@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    ViewData["Title"] = $"{Configuration.GetSection( "AppSettings" )["CompanyName"]}";
}
<div class="ti-sub-header col-md-12 bg-ti-blue">
    <h3 id="idh3" class="ti-h3 w-100">Issue Verified ID credential</h3> 
    <div class="w-30 mx-auto ti-form-title">
        <h4 id="idh4" class="px-24">@ViewData["firstName"] @ViewData["lastName"]</h4>
    </div>
</div>

<div style="text-align: center;" class="container">

    <div class="mx-auto bg-white d-flex flex-column align-items-center justify-content-center bg-images">

        <div id="capture-container" class="employee-data-box text-center d-flex flex-column justify-content-center">

            <div id="howToScan" class="how-to-scan" style="">
                @if ((bool)ViewData["IsMobile"]) {
                    <p>
                        Your Microsoft Authenticator app will open so you can add your Verified ID credential.
                        <br/>
                    </p>
                } else {
                    <p>
                        Scan the QR code with Microsoft Authenticator app on your mobile phone to retrieve and save your Verified ID credential.
                    </p>
                }

                <div class="text">
                    <p>Use this to prove who you are with other parties.</p>
                </div>
                @if ((bool)ViewData["IsMobile"])
                {
                    <div>
                        <button _ngcontent-mxy-c35="" type="button" class="btn btn-authenticator">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M19.75 4C20.9926 4 22 5.00736 22 6.25V11.7578C21.5506 11.457 21.044 11.235 20.5 11.1115V6.25C20.5 5.83579 20.1642 5.5 19.75 5.5H4.25C3.83579 5.5 3.5 5.83579 3.5 6.25V17.7546C3.5 18.1688 3.83579 18.5046 4.25 18.5046H16V20.0046H4.25C3.00736 20.0046 2 18.9972 2 17.7546V6.25C2 5.00736 3.00736 4 4.25 4H19.75ZM13.2523 12.9961H15.7604C15.459 13.4454 15.2364 13.952 15.1124 14.4961H13.2523C12.8381 14.4961 12.5023 14.1604 12.5023 13.7461C12.5023 13.3664 12.7844 13.0526 13.1505 13.003L13.2523 12.9961ZM9.75 12.5C10.1642 12.5 10.5 12.8358 10.5 13.25V13.7427L10.4921 13.8513C10.3293 14.9642 9.39767 15.5009 7.99995 15.5009C6.60213 15.5009 5.67048 14.9637 5.50787 13.8501L5.5 13.7418V13.25C5.5 12.8358 5.83579 12.5 6.25 12.5H9.75ZM8 8.50218C8.82841 8.50218 9.49997 9.17374 9.49997 10.0022C9.49997 10.8306 8.82841 11.5021 8 11.5021C7.17159 11.5021 6.50003 10.8306 6.50003 10.0022C6.50003 9.17374 7.17159 8.50218 8 8.50218ZM13.2523 9.5H17.75C18.1642 9.5 18.5 9.83579 18.5 10.25C18.5 10.6297 18.2178 10.9435 17.8518 10.9932L17.75 11H13.2523C12.8381 11 12.5023 10.6642 12.5023 10.25C12.5023 9.8703 12.7844 9.55651 13.1505 9.50685L13.2523 9.5ZM23 15.5C23 17.433 21.433 19 19.5 19C17.567 19 16 17.433 16 15.5C16 13.567 17.567 12 19.5 12C21.433 12 23 13.567 23 15.5ZM17 19.2422V22.2859C17 22.9184 17.7648 23.2352 18.212 22.7879L19.5 21.5L20.788 22.7879C21.2352 23.2352 22 22.9184 22 22.2859V19.2422C21.285 19.7208 20.4251 20 19.5 20C18.5749 20 17.715 19.7208 17 19.2422Z" fill="currentColor"></path>
                            </svg> &nbsp;&nbsp;
                            <span>Adding credential</span>
                        </button>
                    </div>
                } else {
                    <div class="title">How to Scan:</div>
                    <div class="text">In the app, <b>open</b> the Verified ID tab and <b>tap</b> on the QR code scan icon.</div>
                }
            </div>

            <div id="qrcode" style="text-align:center; display:none"></div>

            <div id="pinWrapper" class="text text-center" style="display:none">
                <span id="pinCode" class="credential-pin-text">Pin code: 0000</span>
                <button triggers="mouseenter:mouseleave" class="btn-transparent credential-pin-info-button transform-scale-70">
                    <svg xmlns="http://www.w3.org/2000/svg" height="48" width="48"><path d="M22.65 34h3V22h-3ZM24 18.3q.7 0 1.175-.45.475-.45.475-1.15t-.475-1.2Q24.7 15 24 15q-.7 0-1.175.5-.475.5-.475 1.2t.475 1.15q.475.45 1.175.45ZM24 44q-4.1 0-7.75-1.575-3.65-1.575-6.375-4.3-2.725-2.725-4.3-6.375Q4 28.1 4 23.95q0-4.1 1.575-7.75 1.575-3.65 4.3-6.35 2.725-2.7 6.375-4.275Q19.9 4 24.05 4q4.1 0 7.75 1.575 3.65 1.575 6.35 4.275 2.7 2.7 4.275 6.35Q44 19.85 44 24q0 4.1-1.575 7.75-1.575 3.65-4.275 6.375t-6.35 4.3Q28.15 44 24 44Zm.05-3q7.05 0 12-4.975T41 23.95q0-7.05-4.95-12T24 7q-7.05 0-12.025 4.95Q7 16.9 7 24q0 7.05 4.975 12.025Q16.95 41 24.05 41ZM24 24Z" fill="#057FDC"></path></svg>
                </button>
            </div>

            <div id="successWrapper" class="text text-center" style="display:none">
                <h4>
                    Successfully issued!
                </h4>
                <p>
                    You may now use your digital identity card to prove who you are to other parties.
                </p>
                <svg width="113" height="113" viewBox="0 0 113 113" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M56.1585 112.133C87.0446 112.133 112.083 87.0954 112.083 56.2093C112.083 25.3233 87.0446 0.285156 56.1585 0.285156C25.2725 0.285156 0.234375 25.3233 0.234375 56.2093C0.234375 87.0954 25.2725 112.133 56.1585 112.133Z" fill="#57A300"></path><path d="M25.0714 58.2446C24.5541 57.6923 24.2885 56.9653 24.3165 56.2103C24.3444 55.4484 24.666 54.7493 25.2252 54.225L31.0623 48.8284C31.5936 48.346 32.2717 48.0804 32.9777 48.0804C33.7606 48.0804 34.5156 48.4089 35.0469 48.9822L49.9787 65.0044L76.5916 30.9256C77.1298 30.2336 77.9407 29.8281 78.8215 29.8281C79.4507 29.8281 80.0449 30.0309 80.5482 30.4153L86.8816 35.3017C88.091 36.1965 88.3496 37.9371 87.4408 39.1745L53.411 82.7464C52.0898 84.4381 49.5662 84.5499 48.0982 82.977L25.0714 58.2446Z" fill="white"></path></svg>

                <div class="mt-5 d-flex flex-column justify-content-center">
                    @if (!string.IsNullOrWhiteSpace((string)ViewData["returnUrl"]))
                    {
                    <p class="mx-auto w-75"> Once you've added your verifiable credential to your digital wallet, you may return to Woodgrove. </p>
                    <div class="btn-wrapper">
                        <a class="btn btn--link return-to-woodgrove px-5" href="@ViewData["returnUrl"]"> Return to Woodgrove </a>
                    </div>
                    } else {
                    <p class="mx-auto w-75"> You can now close this window. </p>
                    }
                </div>

            </div>

            <a href="https://www.microsoft.com/en-us/security/mobile-authenticator-app?rtc=1" class="get-authenticator-link d-flex justify-content-center align-items-center">
                <span _ngcontent-sqf-c35="">Get Microsoft Authenticator</span>
                <svg width="13" height="14" viewBox="0 0 13 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.6188 1.71875H8.125V0.90625H13V5.78125H12.1875V2.2875L5.6875 8.7875L5.11875 8.21875L11.6188 1.71875Z" fill="#0078D4"></path><path d="M8.9375 7.40625V11.4688C8.95057 11.5786 8.93854 11.69 8.90233 11.7945C8.86611 11.899 8.80666 11.994 8.72844 12.0722C8.65022 12.1504 8.55527 12.2099 8.45075 12.2461C8.34622 12.2823 8.23485 12.2943 8.125 12.2812H1.625C1.51515 12.2943 1.40378 12.2823 1.29925 12.2461C1.19473 12.2099 1.09978 12.1504 1.02156 12.0722C0.94334 11.994 0.883885 11.899 0.847673 11.7945C0.811461 11.69 0.799435 11.5786 0.8125 11.4688V5.78125C0.799435 5.6714 0.811461 5.56003 0.847673 5.4555C0.883885 5.35098 0.94334 5.25603 1.02156 5.17781C1.09978 5.09959 1.19473 5.04013 1.29925 5.00392C1.40378 4.96771 1.51515 4.95568 1.625 4.96875H6.5L7.3125 4.15625H1.625C1.19402 4.15625 0.780698 4.32745 0.475951 4.6322C0.171205 4.93695 0 5.35027 0 5.78125V11.4688C0 11.8997 0.171205 12.3131 0.475951 12.6178C0.780698 12.9225 1.19402 13.0938 1.625 13.0938H8.125C8.55598 13.0938 8.9693 12.9225 9.27405 12.6178C9.57879 12.3131 9.75 11.8997 9.75 11.4688V6.59375L8.9375 7.40625Z" fill="#0078D4"></path></svg>
            </a>

            <div style="margin:auto">
                <a id="authenticatorAppIconControl-google" href="https://play.google.com/store/search?q=microsoft+authenticator&amp;c=apps&amp;utm_source=verified-id-demo&amp;pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1e" class="googleStoreIconControlContent">
                    <img alt="Get it on Google Play" src="https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png" style="float: left; width: 150px;">
                </a>
                <a id="authenticatorAppIconControl-apple" href="https://apps.apple.com/us/app/microsoft-authenticator/id983156458?itsct=apps_box_link&amp;itscg=30200" class="appStoreIconControlContent">
                    <img alt="Download on the App Store" src="https://tools.applemediaservices.com/api/badges/download-on-the-app-store/black/en-us?size=250x83&amp;amp;releaseDate=1432944000&amp;amp;h=39686e6a537b2c44ff7ce60f6287e68f" style="float: left; width: 120px; margin-top: 10px;">
                </a>
            </div>
       </div> <!-- capture-container / employee-data-box -->

    </div> <!-- container -->

    <button type="button" id="showDialog" style="display:none" data-bs-toggle="modal" data-bs-target="#msgDialog">Show Dialog</button>
    <div id="msgDialog" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 id="msgTitle" class="modal-title">msg title</h4>
                    <button id="close-btn" type="button" class="close" data-bs-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <p id="msgBody"> ...msg body... </p>
                </div>
            </div>
        </div>
    </div>

    <button type="button" id="showDialog" style="display:none" data-bs-toggle="modal" data-bs-target="#msgDialog">Show Dialog</button>
    <div id="msgDialog" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 id="msgTitle" class="modal-title">msg title</h4>
                    <button id="close-btn" type="button" class="close" data-bs-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <p id="msgBody"> ...msg body... </p>
                </div>
            </div>
        </div>
    </div>


    <script src="~/js/qrcode.min.js"></script>
    <script src="~/js/verifiedid.requestservice.client.js"></script>
    <script src="~/js/verifiedid.uihandler.js"></script>

    <script>
        var qrcode = new QRCode("qrcode", { width: 150, height: 150 });

        window.addEventListener('load', () => {
             setTimeout( requestService.createIssuanceRequest( issuanceCallback ), 500);
        });

        function issuanceCallback( requestType, event, id, data ) {
            switch(event) {
                case "retrieved":
                    dimQRCode();
                break;
                case "issued":
                    issuanceDone();
                    document.getElementById('successWrapper').style.display = "";
                break;
                case "cancelled": case "timeout": case "error":
                    issuanceDone();
                    showDialog( `${requestType} ${event}`, JSON.stringify(data) );
                break;
            }
        }

        function issuanceDone() {
            hideQRCode();
            document.getElementById('howToScan').style.display = "none";
            document.getElementById('qrcode').style.display = "none";
            document.getElementById('pinWrapper').style.display = "none";
        }
    </script>
</div>
